<footer class="fixed-bottom">
    <div class="footer-top ">
        A
    </div>
    <div class="footer-bottom bg-dark">
        <div class="container-fluid clearfix">
            <div class="copyright-text col-12 col-md-6 text-center text-md-left mx-2 mx-md-0">
                <p >Powered by <a href="" class="d-inline-block text-white">Baldpuppies Solutions Inc</a></p>
            </div>

            <ul class="footer-bottom-link  col-12 col-md-6 text-center text-md-right mx-2 mx-md-0">
                <li>
                    <a href=""><i class="fa fa-facebook"></i></a>
                </li>

                <li>
                    <a href=""><i class="fa fa-twitter"></i></a>
                </li>

                <li>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                </li>

                <li>
                    <a href=""><i class="fa fa-instagram"></i></a>
                </li>

                <li>
                    <a href=""><i class="fa fa-rss"></i></a>
                </li>
            </ul>

        </div>
    </div>
</footer>