.simple-link {
    text-decoration: none !important;
}

.zround {
  border-radius: 25px !important;
  padding: 20px !important;
  font-size: 14px !important;
}

.flat-rounded-0{
    border-radius:0!important;
    border: none !important;
}

.flat-input.border-dark{
    border-color: #000000 !important;
}
.flat-input {
    border-radius: 0px !important;
    /*border: none !important;*/
    /*width: 100% !important;*/
}
.flat-rounded-0.flat-grey-dark {
    background-color: #343a40 !important;
}

.flat-rounded-0.flat-grey-90 {
    background-color: #e5e5e5 !important;
    color: #000000 !important;
}


.flat-rounded-0.flat-grey-e7 {
    background-color: #e7e7e7 !important;
    color: #000000 !important;
}
.custom-zround {
  border-radius: 25px !important;
  font-size: 12px !important;
  height: 42px !important;
}
.btn.zround{
    line-height: 1pt !important;
}
*{
    font-size:12pt !important;
}